* {
    font-family: "Montserrat", sans-serif;
}

/* HEADER */
a:hover {
    text-decoration: none;
}

header {
    background-color: #2c3e50;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

header h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

header h2:hover {
    cursor: pointer;
}

header a {
    color: white;
}

header a:hover {
    color: #1abc9c;
}

nav {
    padding-top: 10px;
}

nav button {
    font-size: 13px;
    color: white;
    background-color: #1abc9c;
    padding: 12px 13px;
    border: none;
    border-radius: 8px;
}

nav button:hover,
.send:hover {
    background-color: #148f77;
    transition: all 0.2s ease-in-out;
}

.glyphicon-menu-hamburger {
    padding-left: 3px;
    font-size: 12px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
    margin-bottom: 0;
}

.jumbotron img {
    width: 240px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.jumbotron h2 {
    color: white;
    font-size: 45px;
    font-weight: 700;
}
/* creazione divisore con stella */
.ms--star::before,
.ms--star::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    bottom: 15px;
}

.ms--star span {
    font-size: 35px;
    padding: 0 20px;
}

#portfolio .ms--star::before,
#portfolio .ms--star::after,
#contact .ms--star::before,
#contact .ms--star::after {
    background-color: #2c3e50;
}

#portfolio .glyphicon-star,
#contact span {
    color: #2c3e50;
}
/* fine creazione divisore con stella */
.jumbotron span,
#about span {
    color: white;
}

.jumbotron h4 {
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* PORTFOLIO */
#portfolio h3,
#contact h3 {
    color: #2c3e50;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    padding-top: 50px;
}

.mrg {
    margin-bottom: 80px;
}

.row-img {
    margin-top: 30px;
}

.row-img img {
    border-radius: 10px;
}

.img-hover {
    position: relative;
}

.overlay span {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: rgba(26,188,156,.9);
    border-radius: 10px;
    display: none;
}

.row-img:hover .overlay {
    display: block;
}

/* ABOUT */
#about {
    background-color: #1abc9c;
}

#about h3 {
    color: white;
}

#about p {
    font-size: 18px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.download,
.send {
    font-size: 18px;
    color: white;
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 10px;
    padding: 18px 30px;
}

.download:hover {
    background-color: white;
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

.download:hover.download span  {
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

/* CONTACT */
form {
    margin-right: 10px;
    margin-left: 10px;
}

.form-input {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
}

.form-input::placeholder,
textarea {
    font-size: 25px;
    font-weight: 500;
    color: black;
}

textarea {
    color: #777777;
    resize: none;
}

form button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
}

footer h4 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 15px;
}

footer p {
    font-size: 19px;
    color: white;
}

footer a {
    color: #1abc9c;
}

footer a:hover {
    color: #148f77;
    text-decoration: underline;
}

footer i {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
}

footer i:hover {
    background-color: white;
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

.no-padding {
    padding: 0;
}

.bg-dark {
    color: white;
    background-color: #1a252f;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* riduzione dimensione delle icone social per i dispositivi piccolissimi*/
@media screen and (max-width: 480px) {
    footer i {
        font-size: 15px;
        padding: 10px;
    }
}

/* aggiustamento delle dimensioni di vari font e padding per i dispositivi grandi */
@media screen and (min-width: 992px) {
    header {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    header h2 {
        font-size: 28px;
        font-weight: 700;
    }

    header a {
        font-size: 16px;
        font-weight: 700;
    }

    nav {
        padding-top: 25px;
    }

    .jumbotron h2 {
        font-size: 60px;
    }

    .jumbotron h4 {
        font-size: 22px;
    }

    h3 {
        font-size: 50px;
    }

    .ms--star::before,
    .ms--star::after {
        width: 150px;
        height: 4px;
        bottom: 20px;
    }

    .ms--star span {
        font-size: 50px;
    }
}
