* {
    font-family: "Montserrat", sans-serif;
}

/* XS Extra Small Devices Phones */
/* SM Small Devices Tablet */

/* HEADER */
a:hover {
    text-decoration: none;
}

header {
    background-color: #2c3e50;
    padding-top: 5px;
    padding-bottom: 5px;
}

header h2 {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

header h2:hover {
    cursor: pointer;
}

header a {
    color: white;
}

header a:hover {
    color: #1abc9c;
}

nav {
    padding-top: 10px;
}

nav button {
    font-size: 13px;
    color: white;
    background-color: #1abc9c;
    padding: 12px 13px;
    border: none;
    border-radius: 8px;
}

nav button:hover,
.send:hover {
    background-color: #148f77;
    transition: all 0.2s ease-in-out;
}

.glyphicon-menu-hamburger {
    padding-left: 3px;
    font-size: 12px;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #1abc9c;
    margin-bottom: 0;
}

.jumbotron img {
    width: 240px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.jumbotron h2 {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.div-small,
.div-big {
    padding-top: 25px;
    padding-bottom: 25px;
}

.div-small hr {
    width: 100px;
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
}

.div-small span {
    font-size: 35px;
    padding-right: 5px;
    padding-left: 5px;
}

.div-big hr {
    width: 150px;
    border: 4px solid white;
    border-radius: 5px;
    display: inline-block;
}

.div-big span {
    font-size: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.jumbotron span,
.about span {
    color: white;
}

.jumbotron h4 {
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* PORTFOLIO */
.portfolio h3,
.contact h3 {
    color: #2c3e50;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    padding-top: 50px;
}

.portfolio span,
.contact span {
    color: #2c3e50;
}

.portfolio .div-big hr,
.contact .div-big hr {
    border: 4px solid #2c3e50;
}

.portfolio .div-small hr,
.contact .div-small hr {
    border: 2px solid #2c3e50;
}

.mrg {
    margin-bottom: 80px;
}

.row-img {
    margin-top: 30px;
}

.row-img img {
    border-radius: 10px;
}

.img-hover {
    position: relative;
}

.overlay span{
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: rgba(26,188,156,.9);
    border-radius: 10px;
    display: none;
}

.row-img:hover .overlay {
    display: block;
}

/* ABOUT */
.about {
    background-color: #1abc9c;
}

.about h3 {
    color: white;
}

.about p {
    font-size: 18px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.download,
.send {
    font-size: 18px;
    color: white;
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 10px;
    padding: 18px 30px;
}

.download:hover {
    background-color: white;
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

.download:hover.download span  {
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

/* CONTACT */
form {
    margin-right: 10px;
    margin-left: 10px;
}

.form-input {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
}

.form-input::placeholder,
textarea {
    font-size: 25px;
    font-weight: 500;
    color: black;
}

textarea {
    color: #777777;
    resize: none;
}

form button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
}

footer h4 {
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 15px;
}

footer p {
    font-size: 19px;
    color: white;
}

footer a {
    color: #1abc9c;
}

footer a:hover {
    color: #148f77;
    text-decoration: underline;
}

footer i {
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px;
}

footer i:hover {
    background-color: white;
    color: #2c3e50;
    transition: all 0.2s ease-in-out;
}

/* MD Medium Devices Desktops*/
/* LG Large Devices Desktops */
@media screen and (min-width: 992px) {
    header {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    header h2 {
        font-size: 28px;
        font-weight: 700;
    }

    header a {
        font-size: 16px;
        font-weight: 700;
    }

    nav {
        padding-top: 25px;
    }

    .jumbotron h2 {
        font-size: 60px;
    }

    .jumbotron h4 {
        font-size: 22px;
    }

    h3 {
        font-size: 50px;
    }
}
